.principalContainer {
  width: 100%;
  position: relative;
  height: 100vh;
}
.imagesContainer {
  width: 100%;
  position: relative;
  height: auto;
}
.imageColor {
  height: 100%;
  width: 100%;
  text-align: center;
  filter: drop-shadow(2px 2px 5px gold);
}
.imageColorFiltered {
  filter: grayscale();
  position: absolute;
  top: 0;
  width: 48%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 0, 0, 0) 100%
  );
  mix-blend-mode: saturation;
  right: 0;
  transform: translateY(0);
}

.imageContainerColorFilter {
  position: relative;
  display: inline-block;
}
.techContainer {
  display: flex;
  gap: 1em;
}
.FrontContainer {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  width: 40%;
  position: absolute;
  align-items: center;
}

.BackContainer {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  width: 40%;
  position: absolute;
  align-items: center;
  right: 0;
  top: 0;
}

.gitImg {
  height: 2.5em;
  width: 2.5em;
}
.projectsFrontContainer {
  margin-top: 12%;
  display: flex;
  flex-direction: row;
  width: 60%;
  position: absolute;
  justify-content: space-between;
  transform: scale(0%);
  padding-left: 5em;
}
.techContainerMain {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.projectsBackContainer {
  margin-top: 12%;
  display: flex;
  flex-direction: row;
  width: 60%;
  position: absolute;
  justify-content: space-between;
  transform: scale(0%);
  padding-right: 5em;
  right: 0;
  top: 0;
}

.dangerP {
  position: absolute;
  bottom: 0%;
}

@media (max-width: 1100px) {
}
