@font-face {
  font-family: "RockSalt";
  src: url("../../assets/Fonts/Rock_Salt/RockSalt-Regular.ttf");
}

.mainContainer {
  display: flex;
  flex-direction: column;
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 8%;
  height: 100vh;
  width: 85%;
  background-color: rgb(17, 17, 17);
}

.infoContainer {
  display: flex;
}
.logoContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.descriptionContainer {
  z-index: 1;
  background-color: rgb(17, 17, 17);
  width: 50%;
}
.nameContainer {
  display: flex;
  align-items: baseline;
  margin-bottom: 2em;
}
.lastNameContainer {
  display: flex;
  align-items: baseline;
  height: 30vh;
}

.nameH1 {
  font-family: "RockSalt";
  font-size: 10em;
  margin: 0;
  color: #535bf2;
}

.nameH4_name {
  font-family: "RockSalt";
  font-size: 3em;
  margin: 0;
  display: block;
  overflow: hidden;
  animation: typing 2s steps(7), blink 0.5s infinite step-end alternate;
  width: 6ch;
  white-space: nowrap;
  text-align: left;
}
.nameH4_lastName {
  font-family: "RockSalt";
  text-align: left;
  font-size: 3em;
  margin: 0;
  display: block;
  overflow: hidden;
  animation: typing 2s steps(7) infinite alternate,
    blink 0.5s infinite step-end alternate;
  width: 6em;
  white-space: nowrap;
}
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.descriptionH2 {
  font-size: 3em;
  color: #919191;
}
.descriptionP {
  font-size: 1.2em;
  text-align: justify;
  color: #919191;
}
.descriptionButton {
  font-size: 1.2em;
}

.mainP {
  font-size: 1.2em;
}
.descriptionSpan {
  color: #535bf2;
}
.h4Container {
  width: 6em;
}
